h2{
    font-size:16px;
    }
    p{
    font-size:14px;
    }
    label{
    font-size:12px;
    }
    input[type=submit]{
    padding:5px;
    }
    input[type=text]{
    padding: 8px;
    }
    div#envelope{
    width: 60%;
    margin: 5px 5px 5px 5px;
    }