@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
* {
/* With these codes padding and border does not increase it's width and gives intuitive style.*/

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body {
    color: #000! important;
margin:0;
padding:0;

}
div#envelope{

width: 80%;
margin: 50px 5% 50px 5%;
padding:10px 0;
border: 2px solid rgb(0, 0, 0);
border-radius:10px;
}
form{
width:80%;
margin:4% 10%;
}
header{

text-align: center;
padding-top: 12px;
padding-bottom: 8px;
margin-top: -11px;
margin-bottom: -8px;
border-radius: 10px 10px 0 0;
color: #000000;
}

/* Makes responsive fields. Sets size and field alignment.*/
input[type=text]{
margin-bottom: 20px;
margin-top: 10px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #000000;
}
input[type=submit]
{
margin-bottom: 20px;
width:100%;
padding: 15px;
border-radius:5px;
border:1px solid #000000;
background-color: rgb(0, 0, 0);
color: aliceblue;
font-size:15px;
cursor:pointer;
}
#submit:hover
{
background-color:#e9c600;
}
textarea{
width:100%;
padding: 15px;
margin-top: 10px;
border:1px solid #000000;
border-radius:5px;
margin-bottom: 20px;
resize:none;
}
input[type=text]:focus,textarea:focus {
border-color: #000000;
}