.button {
	background-color: blue;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	
}
.button:hover {
    background-color: white;
    color: blue;
    border: 2px solid $blue;
}
