
.card {
    border-style: solid;
    border-color: black; 
    
    box-shadow: 2px 8px 10px black;
    border-radius: 15px !important;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 80%;
}
table{
    border-collapse:separate; 
border-spacing: 10px 10px; 
font-style: italic;
font-family: 'Times New Roman', Times, serif;

}
.section1{width: 100%;
    margin-left: 30% ; 
    font-size: larger;
}
.section2{
    width: 60%;
    margin-left: 19% ;
    font-size: larger;
}
.section3{
    margin-left: 45%;
}
 h1{
    color: black;
    
}
.fourth {
    
    border-color: yellow;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    
    
  }
  .fourth:hover {
      color: #000;
      background-color: yellow;
      box-shadow: 2px 5px 5px black;
    
  }
  .lin{

  }
   .f{
      margin-right: 10px;
    width: 60px;
    height: 30px;
    float: right;
    
   
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.f:hover{
    color: white;
    background-color: black;
}

  