.form-div {  margin-top: 30px; border: 1px solid #e0e0e0; }
#profileDisplay { display: block; height: 120px; width: 55%; margin: 0px auto;  }
.img-placeholder {
  width: 55%;
  color: white;
  height: 120%;
  background: black;
  opacity: .7;
  height: 120px;
  
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.img-placeholder h4 {
  margin-top: 40%;
  color: white;
}
.img-div:hover .img-placeholder {
  display: block;
  cursor: pointer;
}
.dev{
    width: 50%;
}

.button {
	background-color: blue;
	border: 2px solid #000000 !important;
	border-radius: 30px ;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	
}
.button:hover {
    background-color: white;
    color: blue;
    border: 2px solid #000000 !important;
   
}
