@import "http://fonts.googleapis.com/css?family=Droid+Sans";
form{
background-color:#fff;

}
table{ 
    border-collapse:separate; 
    border-spacing: 0 10px; 
    } 
    th,td{ 
    width: 180px; 
    text-align: center; 
    }
#maindiv{
width:960px;
margin:50px auto;
padding:30px;
font-family:'Droid Sans',sans-serif;
}
#formdiv{
width:800px;
text-align:center;
}
form{
padding:50px 80px;
box-shadow:0 0 10px;
border-radius:10px
}
h2{
margin-left:30px
}
.but{
    background-color:#0044ff;
    border:1px solid rgb(0, 0, 0);
    color:#fff;
    border-radius:5px;
    
    text-shadow:1px 1px 0 green;
    box-shadow:2px 2px 15px rgba(0,0,0,.75)
    }
    .but:hover{
    cursor:pointer;
    background:#c20b0b;
    border:1px solid #c20b0b;
    box-shadow:0 0 5px rgba(0,0,0,.75)
    }
.upload{
background-color:#0044ff;
border:1px solid black;
color:#fff;
border-radius:5px;
padding:10px;
text-shadow:1px 1px 0 green;
box-shadow:2px 2px 15px rgba(0,0,0,.75)
}
.upload:hover{
cursor:pointer;
background:#002fb1;
border:1px solid #000000;
box-shadow:0 0 5px rgba(0,0,0,.75)
}
#file{
color:blue;
padding:5px;
border:1px dashed #02007a;
background-color:#f9ffe5
}
#upload{
margin-left:45px
}
#noerror{
color:blue;
text-align:left
}
#error{
color:red;
text-align:left
}
#img{
width:17px;
border:none;
height:17px;
margin-left:-20px;
margin-bottom:91px
}
.abcd{
text-align:center
}
.abcd img{
height:100px;
width:100px;
padding:5px;
border:1px solid #e8debd
}
b{
color:red
}
.btn{
  float: right;
}
